* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: 1.2rem;
}
#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #f0f0f0;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px;
    min-width: 490px;
}

.navbar .icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 170px
}

.left {
    margin-left: auto;
}

#content img {
    width: 600px;
    height: 300px;
    border-radius: 1rem;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

button:hover {
    background: rgba(150, 75, 0, 0.3);


    cursor: pointer;
}

button:active {
    box-shadow: 2px 2px 5px burlywood;

}

.copyright {
    margin: 10px auto;

}